.about a {
    color: #000;
    display: inline-block;
    height: 62px;
    width: 62px;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid #d4d4d4;
    line-height: 60px;
    text-align: center;
}
  
.about a:hover {
    color: #ee8682;

  
